.content {
  display: flex;
  align-items: center;
  margin-top: 10rem;
}

.card-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  min-width: 240px;
  padding: 5rem;
  text-align: center;
  background: #2a2b38;
  border: solid;
  border-image: linear-gradient(163deg, #ffeba7 0%, #87d443 100%);
  background-origin: border-box;
  border-image-slice: 1;
  animation: card 3s linear;
}

@keyframes card {
  25% {
    filter: opacity(0%);
  }
  50% {
    filter: opacity(25%);
  }
  75% {
    filter: opacity(50%);
  }
  100% {
    filter: opacity(100%);
  }
}

/*Inputs*/
.field {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: #1f2029;
  border-radius: 4px;
  padding: 0.5em 1em;
}

.input-icon {
  height: 1em;
  width: 1em;
  fill: #ffeba7;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

/*Text*/
.title {
  margin-bottom: 1rem;
  font-size: 1.5em;
  font-weight: 500;
  color: #f5f5f5;
}

/*Buttons*/
.btn {
  cursor: pointer;
  margin: 1rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  background-color: #ffeba7;
  color: #5e6681;
  box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
  transition: all 0.3s ease-in-out;
}

.btn-link {
  color: #f5f5f5;
  display: block;
  font-size: 0.75em;
  transition: color 0.3s ease-out;
}

/*Hover & focus*/
.field input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

.btn:hover {
  background-color: #5e6681;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}

.btn-link:hover {
  color: #ffeba7;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.content-register {
  display: flex;
  justify-content: end;
  padding: 16px 24px;
}

.loginBotao {
  display: flex;
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 0 30px 5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  min-height: 50px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.loginBotao:active,
.loginBotao:hover {
  outline: 0;
}

.loginBotao span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(5, 6, 45);
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.loginBotao:hover span {
  background: none;
}

.loginBotao:active {
  transform: scale(0.9);
}
