.cards-review {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-review {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 298px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  background-color: #b7b0b0;
  color: black;
  transition: 0.3s;
  border-radius: 20%;
  justify-content: space-around;
}

.user {
  display: flex;
  justify-content: center;
  margin-top: 20;
}

.card:nth-child(3n) {
  break-after: always;
}

.card-review:hover {
  box-shadow: 0 8px 50px 0 #646cff;
  cursor: pointer;
  transform: scale(0.98);
}

.icon-star {
  color: rgb(246, 246, 6);
}

.content-review {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding: 2%;
  justify-self: flex-end;
}
