body {
  text-align: center;
  height: 100%;
  margin-top: 1%;
}

.logo.react {
  z-index: -1;
  position: fixed;
  height: 1000px;
  width: 1000px;
  top: 0;
  right: 24%;
  background-image: url("../src/assets/react.svg");
  background-size: contain;
  background-repeat: no-repeat;
  animation: logo-spin infinite 20s linear;
  filter: blur(100px) drop-shadow(5em 6em 6em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}