:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #242424;
}

body::-webkit-scrollbar-thumb {
  background-color: #747bff;
  border-radius: 20px;
  border: 3px solid #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  transform: rotate(320px);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.itemLista {
  margin-top: 5%;
  border: #646cff solid 4px;
  padding: 20px 50px 20px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

header h1 {
  position: relative;
  margin: 0 auto;
  padding-top: 2%;
}

a {
  color: #646cff;
  font-weight: bold;
}

.icon-back {
  display: flex;
  justify-self: left;
  transition: 0.3s;
}

.icon-back:hover {
  cursor: pointer;
  filter: blur(100);
}

.header {
  margin: 0 auto;
}
